@import "tailwindcss";

:root{
    --font-nunito: var(--font-nunito);
    --font-poppins: var(--font-poppins)
}

.font-nunito{
    font-family: var(--font-nunito), sans-serif;
}

.font-poppins{
    font-family: var(--font-poppins)
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}